<!DOCTYPE html>
<html>
    <head>
        {{ template "title" . }}
    </head>
    <body>
        <div class="container">
            {{ template "header" . }}

            <div><a href="/login.html">Login</a></div>
        </div>
    </body>
</html>
